#searchinp
{
border-radius: 20px;
text-align: center;
width: 320px;
}

#srchbtn
{
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 40px;
    margin-left: 2px;
    padding: 0;
}
.search
{
    justify-content: center;
    align-items: center;
    display: flex;
}
#br
{
    text-align: center;
}

tr
{
    text-align: center;
    text-decoration: none;
    
}
tr a
{
    text-decoration: none;
    font-weight: bold;
    
}

