
.navbar
{
    background-color:#003049;
    margin-top: 0px;
    padding: 0px;
}

.navbar .nav-link
{
    color: white;
    background-color: crimson;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    padding: 8px 5px;
    transition: 0.3s;
    
}

.nav-link:hover
{
    background-color: white;
    border-radius: 20px;
}

#brand
{
    
    color: beige;
    background-color: cadetblue;
    margin-left: 5px;
    padding: 5px;
    border-radius: 20px ;
}

#brand:hover
{
    
    color: cadetblue;
    background-color: beige;
    margin-left: 5px;
    padding: 5px;
    border-radius: 20px ;
}


#login:hover
{
background-color: white;
color:green;
}

#signup:hover
{
    background-color: white;
    color: red;
}



#login, #signup {
  border-radius: 20px;
  margin: 5px;
  text-align: center;
  padding: 8px 5px;
  
  transition: 0.3s;
}


@media screen and (max-width: 576px) {
  .auth-buttons {
    width: 100%;
    justify-content: center;
  }

  #login, #signup {
    width: 48%;
    margin: 5px 1%;
  }

  #brand
  {
    font-size: small;
  }
}

.bx
{
border: none;
color: white;
}
