


#title
{
    color: black;
    text-align: center; 
    margin: 0;
    text-decoration: underline;
    background-color: #669bbc;
   
}

#tagline
{
    text-align: center;
    text-decoration: underline;
    font-size: larger;
}




#search
{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 250px;
    width:400px;
}